@import "tailwindcss";

.fade_up {
	opacity: 0;
	transform: translateY(15vh);
	animation: fadeup 0.5s forwards;
}

@keyframes fadeup {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.show_up {
	opacity: 0;
	animation: showup 1s forwards;
}

@keyframes showup {
	to {
		opacity: 1;
	}
}

.points_table {
	opacity: 0;
	animation: showup 0.8s forwards;
}

@keyframes showup {
  to{
	opacity: 1;
  }
}

/* Section for the friends bets button */
@keyframes blink {
	0%, 100% { opacity: 0; }
	50% { opacity: 1; }
  }
  
  .blink_1 {
	animation: blink 0.9s infinite;
  }
  
  .blink_2 {
	animation: blink 0.9s infinite;
	animation-delay: 0.2s;
  }