@import "tailwindcss";

.fade_up {
    opacity: 0;
    transform: translateY(15vh);
    animation: fadeup 0.5s forwards;
  }
  
  @keyframes fadeup {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .show_up {
    opacity: 0;
    animation: showup 1s forwards;
  }
  
  @keyframes showup {
    to {
      opacity: 1;
    }
  }